@CHARSET "ISO-8859-1";

body {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;	
}

table#grid {
	margin: auto;	
}

.odd {
	background-color: red;	
}

#body {
	vertical-align: top;	
}

.customerdata {
	height: 200px;
    width: 600px;
}
.customerdata tbody {
	height: 200px;
    width: 600px;	
}

.detail {
	border-collapse: collapse;
    border: 1px solid #C4C0C9;
}