@CHARSET "ISO-8859-1";

body {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;	
}

.center {
	margin: auto;	
}

.odd {
	background-color: red;	
}

#body {
	vertical-align: top;	
}

.customerdata {
	height: 215px;
    width: 600px;
}
.customerdata tbody {
	height: 215px;
    width: 620px;	
}

.detail {
	width: 250px;
	border-collapse: collapse;
    border: 1px solid #C4C0C9;
}

.roomdata {
	height: 200px;
    width: 600px;
}

.roomdata tbody {
	height: 200px;
    width: 600px;	
}

.reservationdata {
	height: 200px;
    width: 600px;
}
	
.reservationdata tbody {
	height: 200px;
    width: 600px;	
}
.reservationroomdata {
	height: 200px;
    width: 600px;
}
	
.reservationroomdata tbody {
	height: 200px;
    width: 600px;	
}
